body {
  margin: 0;
  text-align: justify;
  font-family: serif;
}
h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  white-space: nowrap;
}

article,
p {
  font-size: 18px;
  line-height: 30px;
}

span {
  font-weight: 600;
}

.image,
img {
  margin: 10px auto;
  width: 80%;
  overflow-x: hidden;
}

img {
  width: 100%;
}
